{% extends 'myapp/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% block body %}
 <h1 style="font-size: 2rem; margin: 10px 0; font-weight: bold;">😁 Register User</h1>
    <div style="padding-top: 5rem;">
        <form method="post" style="width: 40%; background-color: white; box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1); margin: 10px; border-radius: 0.25rem; padding: 1.25rem;">
            {% csrf_token %}
            <div style="margin-bottom: 0.5rem;">
                <label style="display: block; color: #4b5563; font-size: 0.875rem; font-weight: bold; margin-bottom: 0.5rem;">Username</label>
                <div style="box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); border-radius: 0.375rem; padding: 0.5rem 0.75rem; margin-right: 1.25rem; color: #4b5563;">
                    {{ form.username }}
                </div>
            </div>

            <div style="margin-bottom: 0.5rem;">
                <label style="display: block; color: #4b5563; font-size: 0.875rem; font-weight: bold; margin-bottom: 0.5rem;">Email</label>
                <div style="box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); border-radius: 0.375rem; padding: 0.5rem 0.75rem; margin-right: 1.25rem; color: #4b5563;">
                    {{ form.email }}
                </div>
            </div>
            <div style="margin-bottom: 0.5rem;">
                <label style="display: block; color: #4b5563; font-size: 0.875rem; font-weight: bold; margin-bottom: 0.5rem;">Password</label>
                <div style="box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); border-radius: 0.375rem; padding: 0.5rem 0.75rem; margin-right: 1.25rem; color: #4b5563;">
                    {{ form.password1 }}
                </div>
            </div>
            <div style="margin-bottom: 0.5rem;">
                <label style="display: block; color: #4b5563; font-size: 0.875rem; font-weight: bold; margin-bottom: 0.5rem;">Re-enter Password</label>
                <div style="box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); border-radius: 0.375rem; padding: 0.5rem 0.75rem; margin-right: 1.25rem; color: #4b5563;">
                    {{ form.password2 }}
                </div>
            </div>

            <div style="margin-bottom: 0.5rem;">
                <button type="submit" style="background-color: green; color: white; font-weight: bold; padding: 0.5rem 1rem; border-radius: 0.25rem; cursor: pointer; border: none;">
                    Register
                </button>
            </div>
        </form>
    </div>
{% endblock %}
</body>
</html>