<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Products</title>
</head>
<body>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" placeholder="Name" name="name" id="name">
    <input type="text" placeholder="Price" name="price" id="price">
    <input type="text" placeholder="Description" name="desc" id="desc">
    <input type="file" accept="image/*" name="upload" id="upload">
    <input type="submit" value="Add Product" name="Add Product">
</form>

</body>
</html>